@import url('https://fonts.googleapis.com/css?family=Lato:300&display=swap');

body{
  background-color:rgb(18, 22, 22);
  color:white;
  font-family: 'Lato', sans-serif;
}

.center{
  margin-left:40%;
  margin-right:40%;
  margin-top:3em;
}
.tabs{
  margin-top:4em;
}
.ListOfThings{
  display:flex;

  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px 0;
  width: 70%;
  border-bottom: 1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 15px;
  color: #333333;
}