button{
    background-color:rgba(0, 0, 0, 0);
    border-radius:20px;
    font-size:1em;
    color:white;
}
.AddItemButton{
    padding:0.5em;
    margin:1em;
    font-family: 'Lato', sans-serif;
}
.InputOfTodosmapped{
    color:white;
    background-color:rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size:2em;
    border-width: 0px 0px 1px 0px;
    border-style: none;
    text-align:center;
    padding:0.4em;
}
.InputOfTodos{
    color:white;
    background-color:rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size:2em;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    text-align:center;
    padding:0.4em;
}
.CheckBoxOfTodosmapped{
    
    background-color:rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    padding:0.4em;
}
button:focus {
    outline: none;
}
input:focus {
    outline: none;
}