button {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 20px;
    font-size: 1em;
    border-color:rgba(255, 255, 255, 0.4);
    color: rgba(255, 255, 255, 0.9)
}

.AddItemButton {
    padding: 0.5em;
    margin: 1em;
    font-family: 'Lato', sans-serif;
    width:40%;
    user-select: none;
   
}
.buttonToCenter{
    
    width:100%;
    margin-left:80%;
}
.InputOfTodosmapped {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    border-style: none;
    text-align: center;
    padding: 0.4em;
}

.InputOfTodos {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    border-color:rgba(255, 255, 255, 0.4);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    text-align: center;
    padding: 0.4em;
}

.InputOfTodosmapped {
    width: 80%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    margin-left: -25%;
}
.InputOfTodosmapped::selection {
    background:none;
  }
input[type='text'] {
    width: 200%;
}

input[type='checkbox'] {
    display: none;
}

.CheckBoxOfTodosmappeddiv {
    position: absolute;
    margin-top: 1.2em;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    border-style: solid;
    width: 2em;
    height: 2em;
    padding: 0.4em;
    border-radius: 50%;
    cursor: pointer;
    font-size: 0.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s ease-in-out;
    border: 1px solid #fff;
    vertical-align: middle;
    background: transparent;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.CheckBoxOfTodosmappeddiv input:checked~.checkmark:after {
    display: block;
}

.CheckBoxOfTodosmappeddiv .checkmark:after {
    left: 0.8em;
    top: 0.2em;
    width: 0.8em;
    height: 1.7em;
    border: solid rgb(217, 255, 2);
    border-width: 0 3px 3px 0;
    transform: rotate(30deg);
}

.CheckBoxOfTodosmappeddiv:hover {

    background-color: rgb(50, 61, 61);
}

button:focus {
    outline: none;
}

input:focus {
    outline: none;
}